#building {
    color: aliceblue;
    text-align: left;
    margin-top: -5%;
}

h1 {
    font-family: "staatlisha";
    font-size: 1rem;
    color: aliceblue;
    text-transform: uppercase;
    text-align: left;
    padding-top: 90px;
    font-weight: 800;

}

h2 {
    text-align: center;
    font-size: 30px;
}

.para1 {
    padding: 40px 0px;


}

.container-fluid {
    width: 110%;
    padding: 3px;
    margin-bottom: 0%;

}

.align {
    margin: 3% 15%;
}

.row {

    margin: 5%;
}

.container {
    text-align: left;


}

/*hearder1*/
.bg {
    background-image: url(img/pexels-pixabay-259984\ 1.png);
    width: 100%;
    height: 37.5rem;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn {
    margin-right: 3%;
    height: auto;
}

/*SECTION BODY FEATURES*/
#features {
    padding: 6% 15%;
    margin-bottom: -50px
}

.button1 {
    height: 8%;
    padding: 3% 10%;
    margin-bottom: 55px;
    margin-top: 34px;
}

h6 {
    padding: 0px 20px 20px;

}

.helmet-img {
    padding-top: 47px;
    border-radius: 5px;
    border-bottom-style: solid;
    border-color: #ffa500;


}

.para2 {
    padding: 10% 0% 3%;
}

.smooth-dis {
    color: #ffa500;
}

/*SERVICE FOR CLIENT*/
.bg1 {
    background-image: url(img/18653\ 1.jpg);
    width: 100%;
    height: auto;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.header2 {
    padding-top: 100px;
    font-size: 2.5rem;
}

.container2-fluid {
    padding: 2% 19%;
}

.img-client {
    width: 200px;
}

.container-service {
    width: 30%;
}

.container1 {
    max-width: 1109px;
}

.img-contain {
    display: inline;
}

.img-client {
    display: inline-block;
}

/*FEATURES PROJECT*/
h3 {
    padding-left: 117px;
    margin-bottom: -12px;
}

.project-colum {
    padding: 3% 2%;
}

.img-building {
    width: 270px;
}

.parag {
    margin-top: 2px;

}

/*CONTACT US*/



.cont1 {
    background: url(img/Group\ 13.png);
    height: 172px;
    max-width: 82%;
    margin-left: 120px;
}

@media (max-width:1123px) {
    .cont1 {
        background: url(img/Group\ 13.png);
        height: 172px;
        max-width: 90%;
        margin-left: 8px;

    }

}

.button2 {
    height: 50px;
    margin: 64px 113px;
    width: 137px;
}


.par {
    color: aliceblue;
    margin: 45px 52px;
    font-size: 22px;

}

@media (max-width:767px) {
    .button2 {
        height: 49px;
        margin: 63px 113px;
        width: 122px;
    }

    .par {
        margin: 64px 0px;

    }


}

@media (max-width:712px) {
    .button2 {
        margin: 64px 68px;
    }

}

@media (max-width:575px) {
    .button2 {
        margin: 0px 142px;
    }

    .par {
        margin: 28px 63px;
    }

}

/*FOOTER*/
#footer {
    background-color: #bd7603;
    font-size: 10px;
    color: aliceblue;

}

.project-colum1 {
    padding: 8% 8%;
}

.project-colum2 {
    padding: 8% 8%;
}

.project-colum3 {
    padding: 8% 8%;
}

.project-colum4 {
    padding: 8% 8%;
}

.colum1 {
    margin: 0px;
}

.footer-img {
    width: 144px;
    height: 103px;
    margin: 8px;
}

.footer-par {
    padding: 0px 3%;
    letter-spacing: 1.4px;
}

/*STEP 2 FOR THE ABOUT US*/

/*NAV BAR*/
.nav-link {
    color: aquamarine;
}

.body-heading {
    text-align: center;
    font-size: 60px;
    color: #bd7603;
    font-weight: 600;

}

.bg2 {
    background-image: url(img/5395\ 1.png);
    width: 100%;
    height: auto;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.body-par {
    margin: 22px 36px 120px;
    padding: -3% 5%;

}

.container-heading {
    color: black;
    text-align: left;
    margin: 105px auto 90px;

}

.project-colum-icon {
    margin-right: 20px;
}

/*AUTHOR SECTION*/
.author-img {
    width: 50%;
}

.author1 {
    margin: 0px 10px;
}

/*SERVICE SECTION*/
/*......SERVICE HEADING......*/

.bg3 {
    background-image: url(img/Group\ 21\ \(1\).png);
    width: 100%;
    height: auto;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}

.service-heading {
    text-align: center;
    font-size: 52px;
    color: #bd7603;
    font-weight: 600;
    margin: 79px auto 97px;
}

pre {
    line-height: 3.7;
    font-size: 14px;
    font-weight: 400;
}

.pre1 {
    margin: -42px 91px;
    color: #66f5d4;

}

.contect-img {
    width: 30%;
}

span {
    font-size: 20px;
    font-weight: 300;
}

/*CONTACT US..*/
.service-heading1 {
    text-align: left;
    font-size: 52px;
    color: #bd7603;
    font-weight: 600;
    margin: 79px auto 97px;
}

.contact_img {
    width: 82%;
    margin-top: -115px;
}

.contact_btn {
    margin-left: 149px;
    margin-bottom: 90px;
}

.container3 {
    margin-left: 5%;
    width: 80%;
}


@media (max-width:842px) {
    .container3 {
        margin-left: 10%;

    }

}

@media (max-width:992px) {
    .container3 {
        margin-left: 10%;
    }

}

@media (max-width:1046px) {
    .container3 {
        margin-left: 2%;
    }

}

@media (max-width:1199px) {
    .container3 {
        margin-left: 7%;
    }

}